{% extends 'campaigns/base.html' %}


{% block when %}
<div class="row">
    <div class="col-md-2">Registration:</div>
    <div class="col-md-4">7:00 am - 8:30 am at St Thomas More Family Center</div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-2">Mass:</div>
    <div class="col-md-4">9 am at St Thomas More Church</div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-2">Degree:</div>
    <div class="col-md-4">10:00 am in the P.A.C</div>
    <div class="col-md-6"></div>
</div>
{% endblock %}

{% block details %}
    <ul type='disc'>
        <li>Candidate: $40</li>
        <li>Guest: $8 for lunch</li>
        <li>Additional Medallions: $8</li>
        <li>No cost for guests not eating lunch</li>
        <li>Family members can attend mass and lunch (only included in guest cost if eating lunch)</li>
        <li>Medallion cost is ONLY if needed, medallion already included in candidate cost</li>
    </ul>
{% endblock %}

{% block header_content %}
    {{ header }}
{% endblock %}

{% block container_content %}
    <form method="POST" class="registration-form">
        {% csrf_token %}
        {% for entry in form %}
            <div class="row">
                <div class="col-md-6">
                    <strong>
                        {{ entry.label }}
                    </strong>
                </div>
                <div class="col-md-6">
                    {{ entry }}
                </div>
            </div>
            <br>
        {% endfor %}
        <div class="row">
            <div class="col-md-6">
                <strong>Admin Fee</strong>
            </div>
            <div class="col-md-6">
                <p id="admin_fee">$0</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>Total Cost</strong>
            </div>
            <div class="col-md-6">
                <p id="total_cost">$0</p>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="save btn btn-default">Save</button>
        </div>
    </form>
    <script type="text/javascript">
    $(document).ready(function() {
        $('input').change(calculateAdminFee)
        $('input').change(calculateTotal)
    });

    function calculateAdminFee() {
        var candidates = $('#id_candidates').val() * 1;
        var guests = $('#id_guests').val() * 1;
        var admin_fee = candidates + guests;
        $('#admin_fee').text('$' + admin_fee);
    }

    function calculateTotal() {
        var candidates_cost = $('#id_candidates').val() * 40;
        var guests_cost = $('#id_guests').val() * 8;
        var medallions_cost = $('#id_medallions').val() * 8;
        var admin_fee = $('#admin_fee').val();
        var total_cost = candidates_cost + guests_cost + medallions_cost + admin_fee;
        $('#total_cost').text('$' + total_cost);
    }

    </script>
{% endblock %}
