{% extends 'campaigns/sales.html' %}

{% block container_content %}

    <form id="checkout-form" action="/payment_confirmation/" method="post" onsubmit="return validateForm();">
        {% csrf_token %}
        <div class='error' id="error-message">{{ error_message }}</div>
        <div class='col-md-12'>

            {% for lineitem in order.lineitem_set.all %}
                {% if lineitem.quantity %}
                    <div class="row">
                        <div class="col-md-3">
                            <strong>
                                {{ lineitem.product.name }}
                            </strong>
                        </div>
                        <div class="col-md-3">
                            <strong>
                                {{ lineitem.quantity }}
                            </strong>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-md-3">
                    <strong>
                        Total: ${{ order.get_total }}
                    </strong>
                </div>
            {% if order.deferred %}
                <div class="col-md-6">
                        (Payment will be collected at the event)
            {% endif %}
                </div>
            </div>
            <br>

            <input type='hidden' name="order_id" value="{{ order.id }}" />
            {% if order.get_total and not order.deferred %}
            <div class='col-md-12'>
                <label class='col-md-6' for="first-name">Cardholder First Name</label>
                <input type='text' class='col-md-6' id="first-name" name="first-name" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="last-name">Cardholder Last Name</label>
                <input type='text' class='col-md-6' id="last-name" name="last-name" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="address">Street Address</label>
                <input type='text' class='col-md-6' id="street-address" name="street-address" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="address">Postal Code</label>
                <input type='text' class='col-md-6' id="postal-code" name="postal-code" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="last-name">Contact Phone Number</label>
                <input type='text' class='col-md-6' id="phone-number" name="phone-number" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="last-name">Email</label>
                <input type='text' class='col-md-6' id="email" name="email" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="card-number">Card Number</label>
                <iframe id="tokenFrame" class='col-md-6' height=48 style="padding:0" name="tokenFrame" frameborder="0" scrolling="no"/></iframe>
            </div>
            <div id="cardNumberValidationError" class="error"></div>
            <div class='col-md-12'>
                <label class='col-md-6' for="expiration-date">Expiration Date (MM/YYYY)</label>
                <input class="col-md-6" type='text' name="expiration-date" id="expiration-date" maxLength=6></input>
                <div id="expDateValidationError" class="error"></div>
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="cvv">CVV</label>
                <input class="col-md-6" type='text' name="cvv" id="cvv" maxLength=4></input>
                <div id="cvvValidationError" class="error"></div>
            </div>

            <input type="hidden" name="payment-amount" value="{{ order.get_total }}">
            <input type="submit" id='submit' value="Pay ${{ order.get_total }}" disabled>
            {% else %}

            <div class='col-md-12'>
                <label class='col-md-6' for="first-name">First Name</label>
                <input type='text' class='col-md-6' id="first-name" name="first-name" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="last-name">Last Name</label>
                <input type='text' class='col-md-6' id="last-name" name="last-name" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="address">Street Address</label>
                <input type='text' class='col-md-6' id="street-address" name="street-address" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="address">Postal Code</label>
                <input type='text' class='col-md-6' id="postal-code" name="postal-code" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="last-name">Contact Phone Number</label>
                <input type='text' class='col-md-6' id="phone-number" name="phone-number" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="last-name">Email</label>
                <input type='text' class='col-md-6' id="email" name="email" required />
            </div>

            <input type="submit" id='submit' value="Submit">
            {% endif %}
            <input type='hidden' name="campaign" value="{{ campaign }}" />
            <input type='hidden' name="token" id="token" />
        </div>
    </form>

    <div>
        <a href='/{{ campaign }}/order/{{ order.id }}'>Change order</a>
    </div>


    {% if order.get_total %}

    <script language='JavaScript'>
        $('input[name="expiration-date"]').mask('00/0000');

        var tokenError = '';

        function loadIframe() {
            document.getElementById("tokenFrame").src = "{{ token_url }}?css=input{padding-left:15px;padding-right:15px;width:460px;line-height:30px}&invalidinputevent=true";
        }

        function validateForm() {
            var valid = true;

            if (tokenError !== undefined) {
                document.getElementById("cardNumberValidationError").innerHTML = "* " + tokenError;
                valid = false;
            } else if (document.getElementById('token').value === '') {
                document.getElementById("cardNumberValidationError").innerHTML = "* Card number is required";
                valid = false;
            }

            var expDate = document.getElementById('expiration-date').value;
            var dateRe = new RegExp('[0-9]{2}/[0-9]{4}');

            if (expDate === '') {
                document.getElementById("expDateValidationError").innerHTML = "* Expiration date is required";
                valid = false;
            } else if (!dateRe.test(expDate)) {
                document.getElementById("expDateValidationError").innerHTML = "* Expiration date must be in the format MM/YYYY";
                valid = false;
            }

            if (document.getElementById('cvv').value === '') {
                document.getElementById("cvvValidationError").innerHTML = "* CVV is required";
                valid = false;
            }
            if (valid === true) {
                document.getElementById('submit').disabled = true;
            }
            return valid;
        }

        window.addEventListener('message', function(event) {
            //console.log("received message: " + event.data);
            var token = JSON.parse(event.data);
            if (token.validationError === undefined) {
                document.getElementById("cardNumberValidationError").innerHTML = '';
                document.getElementById('submit').removeAttribute('disabled');
            } else {
                document.getElementById("cardNumberValidationError").innerHTML = token.validationError;
                document.getElementById('submit').disabled = true;
            }
            tokenError = token.validationError;
            document.getElementById('token').value = token.message;
        }, false);

        loadIframe();
    </script>

    {% endif %}

{% endblock %}
