{% extends 'campaigns/sales.html' %}

{% block container_content %}

    <form id="checkout-form" action="/payment_confirmation/" method="post">
        {% csrf_token %}
        <div class='error' id="error-message"></div>
        <div class='col-md-12'>

            {% for lineitem in order.lineitem_set.all %}
                {% if lineitem.quantity %}
                    <div class="row">
                        <div class="col-md-3">
                            <strong>
                                {{ lineitem.product.name }}
                            </strong>
                        </div>
                        <div class="col-md-3">
                            <strong>
                                {{ lineitem.quantity }}
                            </strong>
                        </div>
                    </div>
                    <br>
                {% endif %}
            {% endfor %}
            <input type='hidden' name="order_id" value="{{ order.id }}" />

            <div class='col-md-12'>
                <label class='col-md-6' for="first-name">Cardholder First Name</label>
                <input type='text' class='col-md-6' id="first-name" name="first-name" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="last-name">Cardholder Last Name</label>
                <input type='text' class='col-md-6' id="last-name" name="last-name" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="address">Street Address</label>
                <input type='text' class='col-md-6' id="street-address" name="street-address" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="address">Postal Code</label>
                <input type='text' class='col-md-6' id="postal-code" name="postal-code" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="last-name">Contact Phone Number</label>
                <input type='text' class='col-md-6' id="phone-number" name="phone-number" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="last-name">Email</label>
                <input type='text' class='col-md-6' id="email" name="email" required />
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="card-number">Card Number</label>
                <div class="col-md-6 hosted-field" id="card-number"></div>
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="cvv">CVV</label>
                <div class="col-md-6 hosted-field" id="cvv"></div>
            </div>
            <div class='col-md-12'>
                <label class='col-md-6' for="expiration-date">Expiration Date</label>
                <div class="col-md-6 hosted-field" id="expiration-date"></div>
            </div>
            <input type="hidden" name="payment-method-nonce">
            <input type="hidden" name="payment-amount">
            <input type="submit" value="Pay ${{ order.get_total }}" disabled>
        </div>
    </form>

    <div>
        <a href='/nuts/order/{{ order.id }}'>Change order</a>
    </div>


    <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.5.0/js/client.min.js"></script>

    <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.5.0/js/hosted-fields.min.js"></script>

    <script>
    var submit = document.querySelector('input[type="submit"]');
    var form = document.querySelector('#checkout-form');

    braintree.client.create({
      // Replace this with your own authorization.
        authorization: '{{ nonce }}'
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        // Handle error in client creation
        return;
      }

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {
            'font-size': '14pt',
          },
          'input.invalid': {
            'color': 'red'
          },
          'input.valid': {
            'color': 'green'
          }
        },
        fields: {
          number: {
            selector: '#card-number',
          },
          cvv: {
            selector: '#cvv',
          },
          expirationDate: {
            selector: '#expiration-date',
          }
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          // Handle error in Hosted Fields creation
          return;
        }

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              $('#error-message').text(tokenizeErr.message);
              return;
            }

            submit.setAttribute('disabled', true);
            // Put `payload.nonce` into the `payment-method-nonce` input, and then
            // submit the form. Alternatively, you could send the nonce to your server
            // with AJAX.
            document.querySelector('input[name="payment-method-nonce"]').value = payload.nonce;
            document.querySelector('input[name="payment-amount"]').value = {{ order.get_total }};
            form.submit();
          });
        }, false);
      });

    $('iframe').css('border', '1px solid lightgrey')

    });

    $('.hosted-field').height('50')

    </script>

{% endblock %}
