{% extends 'campaigns/base.html' %}

{% block header_content %}
    {{ header }}
{% endblock %}

{% block body %}
<div class="col-md-12 container">
    {% block container_content %}
    <div class="col-md-12">
        {% if where %}
        <p>
            <strong>Where: </strong>{{ where }}
        </p>
        {% endif %}
        {% if when %}
            <strong>When: </strong>{{ when }}
        </p>
        {% endif %}
        {% if details %}
        <p>
            <strong>Details: </strong>
            {{ details|safe }}
        </p>
        {% endif %}
    </div>
    <div class="col-md-12">
        <form method="POST" action="/checkout/" class="sales-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <h3><strong>Product</strong></h3>
                </div>
                <div class="col-md-3">
                    <h3><strong>Donation Amount</strong></h3>
                </div>
                <div class="col-md-4">
                    <h3><strong>Donation Reason</strong></h3>
                </div>
            </div>
            <br>
            {% for product in products %}
            <div class="row">
                <div class="col-md-4">
                    <strong>
                        {{ product.name }}
                    </strong>
                </div>
                <div class="col-md-3">
                    <input class='product-input' id="donation-amount" name="product-{{ product.id }}" min="0" type="number" value="{{ product.quantity }}">
                </div>

                {% for tag in tags %}
                <div class="col-md-4">
                    <textarea type="textarea" id="tag-{{ tag.id }}" name="tag-{{ tag.id }}" rows="5" maxLength="100"></textarea>
                </div>
                {% endfor %}

            </div>
            <br>
            {% endfor %}

            <div class="row">
                <div class="col-md-6">
                    <strong>Total</strong>
                </div>
                <div class="col-md-6">
                    <p id="total">$0</p>
                </div>
                <div class="row">
                    <button type="submit" class="save btn btn-default center">Submit</button>
                </div>
            </div>

            <input type='hidden' name="order_id" value="{{ order }}" />
            <input type='hidden' name="campaign" value="{{ campaign }}" />
        </form>
    </div>
    {% endblock %}
</div>

<script type="text/javascript">
$(document).ready(function() {
    set_input_events();
    calculateTotal();
});


function set_input_events() {
    $('input').keyup(calculateTotal);
    $('input').blur(calculateTotal);
}

function calculateTotal() {
    var total = Number($('#donation-amount').val());
    $('#total').text('$' + total);
}

</script>

{% endblock %}

