{% extends 'campaigns/base.html' %}

{% block header_content %}
    {{ header }}
{% endblock %}

{% block body %}
<div class="col-md-12 container">
    {% block container_content %}
    <div class="col-md-12">
        {% if where %}
        <p>
            <strong>Where: </strong>{{ where }}
        </p>
        {% endif %}
        {% if when %}
            <strong>When: </strong>{{ when }}
        </p>
        {% endif %}
        {% if details %}
        <p>
            <strong>Details: </strong>
            {{ details|safe }}
        </p>
        {% endif %}
    </div>
    <div class="col-md-12">
        <form method="POST" action="/checkout/" class="sales-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <h3><strong>Product</strong></h3>
                </div>
                <div class="col-md-3">
                    <h3><strong>Add to Cart</strong></h3>
                </div>
                <div class="col-md-1">
                    <h3><strong>Cost</strong></h3>
                </div>
            </div>
            <br>
            {% for product in products %}
            <div class="row">
                <div class="col-md-4">
                    <strong>
                        {{ product.name }}
                    </strong>
                </div>
                <div class="col-md-3">
                    <input class='product-input' id="product-{{ product.id }}" name="product-{{ product.id }}" min="0" type="number" value="{{ product.quantity }}">
                </div>
                <div id="product-{{ product.id }}-cost" class="col-md-1">
                    ${{ product.cost }}
                </div>
                {% if product.meta_field_two %}
                <div class="col-md-4">
                    <img src=/static/campaigns/img/{{ product.meta_field_two }} width=50%>
                </div>
                {% endif %}
            </div>
            <br>
            {% endfor %}

            <div class="row">
                <div class="col-md-6">
                    <strong>Total</strong>
                </div>
                <div class="col-md-6">
                    <p id="total">$0</p>
                </div>
                {% if testmode %}
                    <div class"row">
                        <span>This campaign is in test mode. When live the option to Submit will appear</span>
                    </div>
                {% else %}
                <div class="row">
                    <button type="submit" class="save btn btn-default center">Submit</button>
                </div>
                {% endif %}
            </div>
            <div class="row">
                {% for tag in tags %}
                <div class="col-md-6">
                    <strong>{{ tag.key|safe }}</strong>
                </div>
                <div class="col-md-6">
                    <input class="campaign-tags" id="tag-{{ tag.id }}" name="tag-{{ tag.id }}" min="0" value="{{ tag.value }}">
                </div>
                {% endfor %}
            </div>
            <input type='hidden' name="order_id" value="{{ order }}" />
            <input type='hidden' name="campaign" value="{{ campaign }}" />
        </form>
    </div>
    {% endblock %}
</div>

<script type="text/javascript">
$(document).ready(function() {
    set_input_events();
    calculateTotal();
});


function set_input_events() {
    $('input').blur(calculateTotal);
}

function calculateTotal() {
    var total = 0
    $('.product-input')
    .each(
        function() {
            total += (
                $('#' + $(this).attr('id') + '-cost')
                    .text()
                    .trim()
                    .substr(1)
                ) *
                $(this).val()
        }
    );
    $('#total').text('$' + total);
}

</script>

{% endblock %}
