{% extends 'campaigns/base.html' %}
{% load static %}

{% block header_content %}
    {{ header }}
    <a href="http://www.stmaustin.org/mobile-loaves-fishes">
        <img src="{% static 'campaigns/img/mlf_logo.jpg' %}">
    </a>
{% endblock %}

{% block body %}
<div class="col-md-12 container">
    {% block container_content %}
    <div class="col-md-12">
        <div class="inner-bg">
            <div class="container">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <div class="description">
                            <p>
                            Annual fundraiser for the benefit of
                            <a href="https://www.stmaustin.org/mobile-loaves-fish" target="_blank"><strong>Mobile Loaves and Fishes</strong></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 text detail">
                        <p>
                            <strong>When: </strong>{{ when }}
                        </p>
                        <p>
                        <strong>Where: </strong> {{ where | safe }}
                        </p>
                        <p>
                            <strong>Registration: </strong>11:30 AM
                        </p>
                        <p>
                            <strong>Lunch: </strong>12:00 AM - 1:30 PM
                        </p>
                        <p>
                            <strong>Shotgun Start: </strong>1:30 PM
                        </p>
                        <p>
                            <strong>Dinner: </strong>6:00 PM
                        </p>
                        <p>
                            <strong>Raffle Winners and Prizes: </strong>7:00 PM
                        </p>
                        <div class="left">
                            <p>
                            <strong>Prizes for: </strong>
                            <ul type="disc">
                                <li>
                                    <span>Closest to the hole</span>
                                </li>
                                <li>
                                    <span>Longest Drive</span>
                                </li>
                                <li>
                                    <span>Silent Auction Winners</span>
                                </li>
                            </ul>
                            </p>
                        </div>
                        <br>
                        <div class="left">
                            <p>
                                <strong>Details</strong>
                                <ul type='disc'>
                                    {% for product in products %}
                                    {% if product.meta_field_one == "player" %}
                                    <li>
                                        <span id="product-player-cost">
                                            ${{ product.cost|floatformat }}
                                        </span>/player
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                    <li>Up to four members on a team</li>
                                    <li>Practice facilities and range balls will be provided</li>
                                    <li>Soft drinks and on-course beverages will be provided</li>
                                </ul>
                            </p>
                            <br>
                            <p>
                                <strong>Sponsorship Opportunities</strong>
                                <ul type='disc'>
                                    {% for product in products %}
                                    {% if product.meta_field_one == "sponsor-level" %}
                                    <li>{{ product.name }} -
                                        <span id="product-{{ product.id }}-cost">
                                            ${{ product.cost|floatformat }}
                                        </span> -
                                        {{ product.meta_field_two }}</li>
                                        <span class='hidden' id="product-{{ product.id }}-name">{{ product.name }}</span>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-1 middle-border"></div>

                    <div class="col-sm-5">

                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Sign up now</h3>
                                    <p>Teams can have up to 4 players</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-pencil"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form method="POST" action="/checkout/" class="sales-form" autocomplete="off">
                                    {% csrf_token %}

                                    {% for i in '1234' %}
                                    <div class="form-group">
                                        <p>Player {{i}}</p>
                                        <input type="text" name="player" placeholder="Name..." class="player form-control" id="player-{{i}}" />
                                    </div>
                                    {% endfor %}
                                    <div class="form-group">
                                        <p>Second team (Gold or Platinum sponsors)</p>
                                    </div>
                                    {% for i in '5678' %}
                                    <div class="form-group">
                                        <p>Player {{i}}</p>
                                        <input type="text" name="player" placeholder="Name..." class="player form-control" id="player-{{i}}" />
                                    </div>
                                    {% endfor %}
                                    <input type="radio" name="product-sponsorship" value="" checked /> Default Registration<br>

                                    {% for product in products %}
                                    {% if product.meta_field_one == "sponsor-level" %}
                                        <input type="radio" class='product-input' name="product-sponsorship" id="product-{{ product.id }}" value="product-{{ product.id }}" /> {{ product.name }}<br>
                                    {% endif %}
                                    {% endfor %}

                                    <div class="row">
                                        <div class="col-md-6">
                                            <strong>Donation $</strong>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="number" min="0" name="donation" class="form-control" placeholder="0" id="donation" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <strong>Total</strong>
                                        </div>
                                        <div class="col-md-6">
                                            <p id="total">$0</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        {% for tag in tags %}
                                        <div class="form-group col-md-6">
                                            <label for="tag-{{ tag.id }}">{{ tag.key|safe }}</label>
                                            <textarea class='form-control' rows='5' id='tag-{{ tag.id }}' name='tag-{{ tag.id }}' placeholder='{{ tag.value }}'></textarea>
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <div class="checkbox">
                                        <label><input type="checkbox" name="deferred">Pay the day of the tournament</label>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn">Sign me up!</button>
                                        </div>
                                    </div>

                                    {% for product in products %}
                                    {% if product.meta_field_one == "player" %}
                                    <input type='hidden' id="player-input" name="product-{{ product.id }}" value="0" />
                                    {% endif %}
                                    {% endfor %}

                                    <input type='hidden' name="order_id" value="{{ order }}" />
                                    <input type='hidden' name="campaign" value="{{ campaign }}" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>

<script type="text/javascript">
$(document).ready(function() {
    set_input_events();
    calculateTotal();
});


function set_input_events() {
    $('input').blur(calculateTotal);
    $('input:radio').change(calculateTotal);
}

function calculateTotal() {
    var total = 0;
    var players = 0;
    var cost_of_a_player = (
        $('#product-player-cost')
        .text()
        .trim()
        .substr(1)
    ) * 1

    $('.player')
        .each(
            function() {
                if ($(this)[0].value) {
                    players += 1
                }
            }
         );
    $('#player-input').val(players);

    var selected_sponsorship = null;

    $('.product-input:radio')
        .each(
            function() {
                if ($(this)[0].checked) {
                    selected_sponsorship = $('#' + $(this).attr('id') + '-name').text();
                    total += (
                            $('#' + $(this).attr('id') + '-cost')
                            .text()
                            .trim()
                            .substr(1)
                            ) * 1
                }
            }
         );

    if (selected_sponsorship == 'Silver Sponsor') {
        players -= 4
    }
    else if (selected_sponsorship == 'Gold Sponsor') {
        players -= 8
    }
    else if (selected_sponsorship == 'Platinum Sponsor') {
        players -= 8
    }
    if (players < 0) {
        players = 0;
    }
    total += (players * cost_of_a_player);
    var donation_amt = $('#donation').val() * 1;
    if (!isNaN(donation_amt)) {
        total += donation_amt;
    }
    $('#total').text('$' + total);
}

</script>

{% endblock %}
