{% extends 'campaigns/sales.html' %}

{% block container_content %}

    <form id="checkout-form" action="/payment_confirmation/" method="post">
        {% csrf_token %}
        <div id="error-message"></div>

        {% for product in products %}
            <div class="row">
                <div class="col-md-3">
                    <strong>
                        {{ product.0.name }}
                    </strong>
                </div>
                <div class="col-md-3">
                    <strong>
                        {{ product.1 }}
                    </strong>
                </div>
            </div>
            <br>
        {% endfor %}

        <div class="row">
            <div class="col-md-4">
                <label for="card-number">Card Number</label>
                <div class="hosted-field" id="card-number"></div>
            </div>

            <div class="col-md-4">
                <label for="cvv">CVV</label>
                <div class="hosted-field" id="cvv"></div>
            </div>

            <div class="col-md-4">
                <label for="expiration-date">Expiration Date</label>
                <div class="hosted-field" id="expiration-date"></div>
            </div>

        </div>
        <div class="row">
            <div>
                <input type="hidden" name="payment-method-nonce">
                <input type="hidden" name="payment-amount">
                <input type="submit" value="Pay ${{grand_total}}" disabled>
            </div>
        </div>
    </form>

    <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.5.0/js/client.min.js"></script>

    <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.5.0/js/hosted-fields.min.js"></script>

    <script>
    // We generated a client token for you so you can test out this code
    // immediately. In a production-ready integration, you will need to
    // generate a client token on your server (see section below).
    var submit = document.querySelector('input[type="submit"]');
    var form = document.querySelector('#checkout-form');
    var submit = document.querySelector('input[type="submit"]');

    braintree.client.create({
      // Replace this with your own authorization.
        authorization: '{{ nonce }}'
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        // Handle error in client creation
        return;
      }

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {
            'font-size': '14pt'
          },
          'input.invalid': {
            'color': 'red'
          },
          'input.valid': {
            'color': 'green'
          }
        },
        fields: {
          number: {
            selector: '#card-number',
            placeholder: '4111 1111 1111 1111'
          },
          cvv: {
            selector: '#cvv',
            placeholder: '123'
          },
          expirationDate: {
            selector: '#expiration-date',
            placeholder: '10/2019'
          }
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          // Handle error in Hosted Fields creation
          return;
        }

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              // Handle error in Hosted Fields tokenization
              return;
            }

            // Put `payload.nonce` into the `payment-method-nonce` input, and then
            // submit the form. Alternatively, you could send the nonce to your server
            // with AJAX.
            document.querySelector('input[name="payment-method-nonce"]').value = payload.nonce;
            document.querySelector('input[name="payment-amount"]').value = {{ grand_total }};
            form.submit();
          });
        }, false);
      });
    });

    $('.hosted-field').height('50')
    
    </script>

{% endblock %}
