{% extends 'campaigns/event.html' %}


{% block when %}
<div class="row">
    <div class="col-md-2">Registration:</div>
    <div class="col-md-4">7:00 am - 8:30 am at St Thomas More Family Center</div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-2">Mass:</div>
    <div class="col-md-4">9 am at St Thomas More Church</div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-2">Degree:</div>
    <div class="col-md-4">10:00 am in the P.A.C</div>
    <div class="col-md-6"></div>
</div>
{% endblock %}

{% block details %}
    <ul type='disc'>
        <li>Candidate: ${{ costs.Candidate }}</li>
        <li>Guest: ${{ costs.Guest }} for lunch</li>
        <li>Additional Medallions: ${{ costs.Medallion }}</li>
        <li>No cost for guests not eating lunch</li>
        <li>Family members can attend mass and lunch (only included in guest cost if eating lunch)</li>
        <li>Medallion cost is ONLY if needed</li>
    </ul>
{% endblock %}

{% block container_content %}
    <form method="POST" class="registration-form">
        {% csrf_token %}
        {% for entry in form %}
            <div class="row">
                <div class="col-md-6">
                    <strong>
                        {{ entry.label }}
                    </strong>
                </div>
                <div class="col-md-6">
                    {{ entry }}
                </div>
            </div>
            <br>
        {% endfor %}

        <div name="candidates_div">
            <div class="row">
                <div class="col-md-6">
                    <strong>
                        Candidate Names
                    </strong>
                </div>
                <div class="col-md-6">
                    <input id="candidate-1" name="candidate" type="text" required="">
                </div>
            </div>
            <br>
        </div>

        <div name="guests_div">
            <div class="row">
                <div class="col-md-6">
                    <strong>
                        Guest Names
                    </strong>
                </div>
                <div class="col-md-6">
                    <input id="guest-1" name="guest" type="text" >
                </div>
            </div>
            <br>
        </div>

        <div class="row">
            <div class="col-md-6">
                <strong>Subtotal</strong>
            </div>
            <div class="col-md-6">
                <p id="subtotal">$0</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>Admin Fee</strong>
            </div>
            <div class="col-md-6">
                <p id="admin_fee">$0</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>Grand Total</strong>
            </div>
            <div class="col-md-6">
                <p id="grand_total">$0</p>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="save btn btn-default">Save</button>
        </div>
    </form>
    <script type="text/javascript">
    $(document).ready(function() {
        set_input_events()
    });


    function set_input_events() {
        $('input').blur(calculateAdminFee);
        $('input').blur(calculateSubtotal);
        $('input').blur(calculateGrandTotal);
        $('input').keypress(check_add_inputs);
    }

    function get_blank_input_by_name(name) {
        return $("input[name='" + name + "']").filter(
            function () { 
                return this.value.length == 0
            }
        );
    }

    function get_filled_input_by_name(name) {
        return $("input[name='" + name + "']").filter(
            function () { 
                return this.value.length > 0
            }
        );
    }

    function check_add_inputs() {
        var blank_guest_inputs = get_blank_input_by_name('guest');
        if (blank_guest_inputs.length == 0) {
            add_more_guests();
        }

        var blank_candidate_inputs = get_blank_input_by_name('candidate');
        if (blank_candidate_inputs.length == 0) {
            add_more_candidates();
        }
    }

    function add_more_guests() {
        var guests = $("[name='guests_div']");
        var next_id = guests.children('div').length + 1
        var new_guest_div = ' \
            <div class="row"> \
                <div class="col-md-6"></div> \
                <div class="col-md-6"> \
                    <input id="guest-' + next_id + '" name="guest" type="text"> \
                </div> \
            </div> \
            <br> \
        ';
        guests.append(new_guest_div);
        set_input_events()
    }

    function add_more_candidates() {
        var candidates = $("[name='candidates_div']");
        var next_id = candidates.children('div').length + 1
        var new_candidate_div = ' \
            <div class="row"> \
                <div class="col-md-6"></div> \
                <div class="col-md-6"> \
                    <input id="candidate-' + next_id + '" name="candidate" type="text"> \
                </div> \
            </div> \
            <br> \
        ';
        candidates.append(new_candidate_div);
        set_input_events()
    }

    function calculateAdminFee() {
        var candidates = get_filled_input_by_name('candidate').length;
        var guests = get_filled_input_by_name('guest').length;
        var admin_fee = candidates + guests;
        $('#admin_fee').text('$' + admin_fee);
    }

    function calculateSubtotal() {
        var candidates = get_filled_input_by_name('candidate').length;
        var guests = get_filled_input_by_name('guest').length;
        var candidates_cost = candidates * {{ costs.Candidate }};
        var guests_cost = guests * {{ costs.Guest }};
        var medallions_cost = $('#id_medallions').val() * {{ costs.Medallion }};
        var subtotal = candidates_cost + guests_cost + medallions_cost;
        $('#subtotal').text('$' + subtotal);
    }
    
    function calculateGrandTotal() {
        var admin_fee = $('#admin_fee').text().replace('$', '') * 1;
        var subtotal = $('#subtotal').text().replace('$', '') * 1;
        var grand_total = admin_fee + subtotal;
        $('#grand_total').text('$' + grand_total);
    }

    </script>
{% endblock %}
