{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>STM Knights of Columbus</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- Custom styling -->
        <!-- <link rel="stylesheet" href="{% static 'css/form-elements.css' %}"> -->
        <link rel="stylesheet" href="{% static 'campaigns/css/style.css' %}">

    </head>
    <!-- <body style="background-image: url({% static 'img/background.jpg' %})"> -->
    <body>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <div class="container" role="main">
            <div class="jumbotron">
                <img src="{% static 'campaigns/img/koc_logo.png' %}">
                <h1><a href="/">STM Knights of Columbus</a></h1>
                <p>St. Thomas More Catholic Church<br>10205 FM 620 N<br>Austin, TX 78726</p>

            </div>

            <div class="page-header">
                <h1>{{ header }}</h1>
            </div>

        </div>

        <a class="button" href="reports/{{report_type}}/{{campaign}}" download="{{campaign}}_{{report_type}}_report.csv">Download</a>

        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
            {% for col in header_row %}
              <th scope="col">{{ col }}</th>
            {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in row_list %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <td>{{ row.3 }}</td>
                <td>{{ row.4 }}</td>
                <td>{{ row.5 }}</td>
                <td>{{ row.6 }}</td>
                <td>{{ row.7 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <br>

        <footer class="footer">
            <div class="container">
                <p class="text-muted text-center"><a href='http://stmknights.org' target="_blank">About STM Knights</a></p>
            </div>
        </footer>
    </body>
</html>

