{% extends 'campaigns/base.html' %}


{% block header_content %}
    {{ header }}
{% endblock %}

{% block when %}
<div class="row">
    <div class="col-md-2">Registration:</div>
    <div class="col-md-4">7:00 am - 8:30 am at St Thomas More Family Center</div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-2">Mass:</div>
    <div class="col-md-4">9 am at St Thomas More Church</div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-2">Degree:</div>
    <div class="col-md-4">10:00 am in the P.A.C</div>
    <div class="col-md-6"></div>
</div>
{% endblock %}

{% block details %}
    Your registration has been recorded.
{% endblock %}

{% block container_content %}
    {% for entry in form %}
        <div class="row">
            <div class="col-md-6">
                <strong>
                    {{ entry.label }}
                </strong>
            </div>
            <div class="col-md-6">
                {{ entry }}
            </div>
        </div>
        <br>
    {% endfor %}
    <div class="row">
        <div class="col-md-6">
            <strong>Candidates</strong>
        </div>
        <div class="col-md-6">
            <p id="subtotal">{{ candidates }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>Guests</strong>
        </div>
        <div class="col-md-6">
            <p id="subtotal">{{ guests }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>Medallions</strong>
        </div>
        <div class="col-md-6">
            <p id="subtotal">{{ medallions }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>Grand Total</strong>
        </div>
        <div class="col-md-6">
            <p id="grand_total">${{ cost }}</p>
        </div>
    </div>
{% endblock %}
